/* Service Box */
.serviceBox{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 25px 40px;
    margin: 20px 0 0;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease;
  }
  .serviceBox:hover{ box-shadow: 0 10px 10px rgba(0,0,0,0.2); }
  .serviceBox:before,
  .serviceBox:after{
    content: "";
    background: linear-gradient(to top,#008d86,#01a2a6);
    width: 10px;
    border-radius: 0 100px 100px 0;
    position: absolute;
    top: 50px;
    bottom: 35px;
    left: 0;
  }
  .serviceBox:after{
    border-radius: 100px 0 0 100px;
    left: auto;
    right: 0;
  }
  
  .serviceBox .title{
    color: #008d86;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .serviceBox .description{
    color: #444;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  @media only screen and (max-width:990px){
    .serviceBox{ margin: 20px 0 50px; }
  }
  